@import url("https://use.typekit.net/kts8npi.css");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Faculty+Glyphic&family=Montaga&family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

/* heart icon in footer */
.heart {
  width: 25px;
  height: 25px;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem;
  text-align: center;
  background-color: #409fdb; */
  font-weight: bold;
}

/* Large Header in Landing Page, "/" */
.header {
  margin-top: 10em;
  margin-right: 30em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 1px;
  /* background-color: #409fdb; */
  height: 30vh;
  font-family: "Crimson Text";
  font-weight: 600;
  font-style: bold;
  display: flex;
  padding-bottom: 5%;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.espiritu-regular {
  font-family: "espiritu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  padding: 2em;
}

/* NavBar Tabs */
.MuiBox-root {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 600;
  font-weight: bold;
  font-style: normal;
}

.nav {
  font-weight: bolder;
  color: #635b46;
  font-family: "Faculty Glyphic", sans-serif;
  opacity: 95%;
  overflow: visible;
  width: 150vh; /* added */
  position: relative; /* added */
  display: flex;
  /* position: fixed; */
}

/* NavBar MUI Tab Button Font */
.css-1usuzwp-MuiButtonBase-root-MuiTab-root {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 700;
}

.MuiButtonBase-root {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 700;
}

/* PetView Card Header Font */
.MuiCardHeader-title {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
}

/* .css-1fzlhpv-MuiGrid2-root {
  margin-bottom: 0%;
  margin-top: 0%;
  /* inline-size: 60%; */

/* } */

/* Prevent MUI bug that brought browser warnings */
div[aria-hidden="true"] {
  display: none;
}
